<div id="autorefill_banner" class="section">
    <div class="title">
        <div class="icon"><svg id="autoship_logo"><use xlink:href="#autoship_logo_icon"></use></svg></div>
        <h1>AutoRefill<span>Subscribe &amp; Save!</span></h1>
    </div>

    <div class="perks">
        <div class="perk never_run_out">
            <div class="icon"><svg id="never_run_out"><use xlink:href="#autoship_circle_check_icon"></use></svg></div>
            <h3>Never Run Out</h3>
            <p>Have your contacts<br>when you need them</p>
        </div>


        <div class="perk discount">
            <div class="icon"><svg id="discount"><use xlink:href="#autoship_dollar_icon"></use></svg></div>
            <h3>Get 5% Off</h3>
            <p>On every<br>AutoRefill order</p>
        </div>


        <div class="perk calendar">
            <div class="icon"><svg id="calendar"><use xlink:href="#autoship_calendar_icon"></use></svg></div>
            <h3>You're In Control</h3>
            <p>Snooze or cancel<br>at anytime</p>
        </div>
    </div>
    <a class="btn color1 large" title="Shop Now" id="ShopNowButton" href="/contact-lenses/">Shop Now</a>
</div>