<div id="checkout-help" class="fluid">
    <ul class="badges">
        <li class="norton">
            <div class="image-area" onclick="window.open('https://seal.digicert.com/seals/popup/?tag=P52ef7am&amp;url=www.lens.com&amp;cbr=DigiCertClickID_P52ef7am', '_badge','height=470,width=540,left=100,top=100,scrollbars=no,titlebar=no,menubar=no');return false;">
                <svg class="icon" alt="Norton"><use xlink:href="#digicert_badge_svg"></use></svg>
            </div>
            <div class="text">
                <h3>Shop With Confidence</h3>
                <p>All personal information is encrypted and secure</p>
            </div>
        </li>
        <li class="moneyback">
            <div class="image-area fancy" data-height="300" data-width="800" data-url="/common/popups/pop_moneyBackGuarantee.asp">
                <svg class="icon" alt="Money Back Guarantee"><use xlink:href="#money_back_badge_svg"></use></svg>
            </div>
            <div class="text">
                <p><strong>Money Back Guarantee</strong> <span class="fancy text" data-height="300" data-width="800" data-url="/common/popups/pop_moneyBackGuarantee.asp" rel="nofollow">Complete Details</span></p>
            </div>
        </li>
        <li class="trusted">
            <div class="image-area pill" onclick="window.open('https://www.trustedsite.com/verify?host=www.lens.com', '_badge','height=470,width=540,left=100,top=100,scrollbars=no,titlebar=no,menubar=no');return false;">
                <img loading="lazy" height="50" width="122" src="https://cdn.ywxi.net/meter/lens.com/302.svg?color=d61029" alt="TrustedSite Badge">
            </div>
            <div class="text">
                <h3>Your Information Is Protected</h3>
                <p>The highest level of protection tested daily</p>
            </div>
        </li>
        <li class="ready">
            <div class="image-area">
                <svg class="icon" alt="23+ Million Contact Lenses"><use xlink:href="#in_stock_badge_svg"></use></svg>
            </div>
            <div class="text">
                <h3>Your Lenses Are Ready</h3>
                <p>Over 23 Million contact lenses in stock and ready to ship</p>
            </div>
        </li>
        <li class="spamfree">
            <div class="image-area">
                <svg class="icon" alt="Spam-Free Email"><use xlink:href="#spam_free_badge_svg"></use></svg>
            </div>
            <div class="text">
                <h3>Spam-Free Email</h3>
                <p>All your account email preferences can be managed</p>
            </div>
        </li>
        <li class="secure">
            <div class="image-area">
                <svg class="icon" alt="Secure Ordering"><use xlink:href="#secure_ordering_badge_svg"></use></svg>
            </div>
            <div class="text">
                <h3>Secure Online Convenience</h3>
                <p>All major payment methods accepted</p>
            </div>
        </li>
    </ul>
</div>
