<div class="faq_nav">
    <div class="container">
    <h5><a href="https://www.lens.com/faq/">Help / FAQs</a></h5>

        <ul class="faq_list col_1">
        <li>
            <a href="/faq/what-info-do-i-need/" title="What information do I need to order contact lenses?">What information do I need to order contact lenses?</a>
        </li>
        <li>
            <a href="/faq/shipping-cost/" title="How much does shipping cost?">How much does shipping cost?</a>
        </li>
        <li>
            <a href="/faq/rx-copy/" title="Do I need a copy of my prescription to order contact lenses?">Do I need a copy of my prescription to order contact lenses?</a>
        </li>
        <li>
            <a href="/faq/fax-prescription/" title="How can I send my prescription to Lens.com?">How can I send my prescription to Lens.com?</a>
        </li>
        <li>
            <a href="/faq/how-do-i-receive-my-rebate/" title="How do I receive my rebate?">How do I receive my rebate?</a>
        </li>
        <li>
            <a href="/faq/rx-verification/" title="How does Rx contact lens prescription verification work?">How does Rx contact lens prescription verification work?</a>
        </li>
        <li>
            <a href="/faq/vision-insurance/" title="Contact lenses with insurance - will my vision insurance pay for contact lenses?">Contact lenses with insurance - will my vision insurance pay for contact lenses?</a>
        </li>
        <li>
            <a href="/faq/shipping-time-delivery/" title="How long after I order my contact lenses can I expect to receive my order?">How long after I order my contact lenses can I expect to receive my order?</a>
        </li>
        <li>
            <a href="/faq/order-speed/" title="How can I speed up my order processing?">How can I speed up my order processing?</a>
        </li>
        <li>
            <a href="/faq/how-to-order/" title="How to order contacts online">How to order contacts online</a>
        </li>
    </ul>
    </div>
</div>