<div id="faq">
    <h2>Acuvue Oasys for Presbyopia FAQs</h2>

    <div class="faq" data-id="15056" data-product="603">
        <div class="question closed" data-id="15056" data-product="603">
            <strong><p>Can you take a nap in Acuvue Oasys for Presbyopia contacts?</p></strong>
        </div>

        <div class="answers" data-id="15056" data-product="603" style="">
            <p class="answer_content">Yes, Acuvue Oasys for Presbyopia lenses are approved for overnight wear, so napping is fine. However, check with your ECP, as every case is unique.</p>
        </div>
    </div>
    <div class="faq" data-id="2677" data-product="603">
        <div class="question closed" data-id="2677" data-product="603">
            <strong><p>How many boxes of Acuvue Oasys for Presbyopia do I need to buy to last 6 months, or 12 months?</p></strong>
        </div>

        <div class="answers" data-id="2677" data-product="603" style="">
            <p class="answer_content">You need 2 box(es) of Acuvue Oasys for Presbyopia contacts to last you for 6 months. In order to last you for 12 months, you'll need 4 box(es). These amounts pertain to a single eye, so to cover both eyes, double these amounts.</p>
        </div>
    </div>
    <div class="faq" data-id="25521" data-product="603">
        <div class="question closed" data-id="25521" data-product="603">
            <strong><p>Where can I buy Acuvue Oasys for Presbyopia contacts at the best price?</p></strong>
        </div>

        <div class="answers" data-id="25521" data-product="603" style="">
            <p class="answer_content">Acuvue Oasys for Presbyopia contact lenses are usually cheaper online than in brick-and-mortar stores. In-store purchases often include extra costs due to overhead, while online retailers like Lens.com offer lower prices due to higher sales volume. At Lens.com, Acuvue Oasys for Presbyopia contacts are available for $29.89 &nbsp;after rebates, offering some of the lowest prices.</p>
        </div>
    </div>
    <div class="faq" data-id="19427" data-product="603">
        <div class="question closed" data-id="19427" data-product="603">
            <strong><p>What Acuvue Oasys for Presbyopia rebates are available?</p></strong>
        </div>

        <div class="answers" data-id="19427" data-product="603" style="">
            <p class="answer_content">Acuvue Oasys for Presbyopia contacts frequently qualify for rebates at <a href="http://lens.com/"><u>Lens.com</u></a>. You can qualify with just 4 or 8 boxes, unlike other retailers requiring a minimum of 12. Check our rebate or product pages for the latest offers.</p>
        </div>
    </div>
    <div class="faq" data-id="2696" data-product="603">
        <div class="question closed" data-id="2696" data-product="603">
            <strong><p>What are Acuvue Oasys for Presbyopia contacts?</p></strong>
        </div>

        <div class="answers" data-id="2696" data-product="603" style="">
            <p class="answer_content">Acuvue Oasys for Presbyopia are Bifocal Lenses contact lenses. They are made of Silicone Hydrogel and are manufactured by Johnson &amp; Johnson.</p>
        </div>
    </div>
    <div class="faq" data-id="15053" data-product="603">
        <div class="question closed" data-id="15053" data-product="603">
            <strong><p>What if I don't have my prescription? Can I still order Acuvue Oasys for Presbyopia contacts?</p></strong>
        </div>

        <div class="answers" data-id="15053" data-product="603" style="">
            <p class="answer_content">Yes, as long as your prescription is on file with your ECP, <a href="http://lens.com/"><u>Lens.com</u></a> can verify it for you. If your ECP doesn't respond in time, we'll ship your order according to FTC rules.</p>
        </div>
    </div>
    <div class="faq" data-id="19429" data-product="603">
        <div class="question closed" data-id="19429" data-product="603">
            <strong><p>How do I get my Acuvue Oasys for Presbyopia rebate?</p></strong>
        </div>

        <div class="answers" data-id="19429" data-product="603" style="">
            <p class="answer_content">To get a Acuvue Oasys for Presbyopia rebate, make a qualifying purchase from Lens.com. After your order ships, access the <a href="https://www.lens.com/rebate-center/">Rebate Center</a> to print your contact lens rebate form(s). The mailing address is on the rebate form.</p>
        </div>
    </div>
    <div class="faq" data-id="15059" data-product="603">
        <div class="question closed" data-id="15059" data-product="603">
            <strong><p>How old do you have to be to wear Acuvue Oasys for Presbyopia contact lenses?</p></strong>
        </div>

        <div class="answers" data-id="15059" data-product="603" style="">
            <p class="answer_content">Teens and even pre-teens can wear Acuvue Oasys for Presbyopia lenses with ECP guidance. There is no fixed minimum age; it depends on lifestyle, budget, and care ability, under the supervision of an ECP.</p>
        </div>
    </div>
    <div class="faq" data-id="19431" data-product="603">
        <div class="question closed" data-id="19431" data-product="603">
            <strong><p>How long does it take to get my Acuvue Oasys for Presbyopia rebate?</p></strong>
        </div>

        <div class="answers" data-id="19431" data-product="603" style="">
            <p class="answer_content">After submitting your Acuvue Oasys for Presbyopia rebate forms you can check the status of your rebate by going to Rebate Center. Please allow up to 12 weeks to receive your Lens.com Visa Prepaid Card.</p>
        </div>
    </div>
    <div class="faq" data-id="2700" data-product="603">
        <div class="question closed" data-id="2700" data-product="603">
            <strong><p>How should I store my Acuvue Oasys for Presbyopia contact lenses?</p></strong>
        </div>

        <div class="answers" data-id="2700" data-product="603" style="">
            <p class="answer_content">Daily lenses should be discarded after use. Weekly and monthly lenses can be stored in contact solution in a tightly closed case for their recommended duration.</p>
        </div>
    </div>
    <div class="faq" data-id="15051" data-product="603">
        <div class="question closed" data-id="15051" data-product="603">
            <strong><p>Is ordering Acuvue Oasys for Presbyopia contact lenses online safe?</p></strong>
        </div>

        <div class="answers" data-id="15051" data-product="603" style="">
            <p class="answer_content">Yes, ordering Acuvue Oasys for Presbyopia lenses from <a href="http://lens.com/"><u>Lens.com</u></a> is safe. All lenses are FDA-approved and authentic, and orders comply with federal prescription verification laws.</p>
        </div>
    </div>
    <div class="faq" data-id="19430" data-product="603">
        <div class="question closed" data-id="19430" data-product="603">
            <strong><p>How do I claim my Acuvue Oasys for Presbyopia rebate?</p></strong>
        </div>

        <div class="answers" data-id="19430" data-product="603" style="">
            <p class="answer_content">In order to redeem your Acuvue Oasys for Presbyopia rebate, follow these 3 easy steps: log on to the <a href="http://lens.com/"><u>Lens.com</u></a> rebate center, print and mail your rebate form, track your rebate status, and get your prepaid Visa card in the mail.</p>
        </div>
    </div>
    <div class="faq" data-id="2695" data-product="603">
        <div class="question closed" data-id="2695" data-product="603">
            <strong><p>Where can I buy Acuvue Oasys for Presbyopia contacts near me?</p></strong>
        </div>

        <div class="answers" data-id="2695" data-product="603" style="">
            <p class="answer_content">Acuvue Oasys for Presbyopia contacts can be bought at eyewear stores or ECP offices, but the lowest prices are often online at <a href="http://lens.com/"><u>Lens.com</u></a>, due to lower overhead.</p>
        </div>
    </div>
    <div class="faq" data-id="19428" data-product="603">
        <div class="question closed" data-id="19428" data-product="603">
            <strong><p>How do I check the status of my Acuvue Oasys for Presbyopia rebates?</p></strong>
        </div>

        <div class="answers" data-id="19428" data-product="603" style="">
            <p class="answer_content">You can check the status of your Acuvue Oasys for Presbyopia rebate by going to the Rebate Center in your account, located in the Customer Service menu. If you need further assistance, please contact our Customer Service Department via phone (1-800 LENS.COM, 24/7) or Live Chat.</p>
        </div>
    </div>
    <div class="faq" data-id="15052" data-product="603">
        <div class="question closed" data-id="15052" data-product="603">
            <strong><p>How long does it take to adjust to wearing Acuvue Oasys for Presbyopia contacts?</p></strong>
        </div>

        <div class="answers" data-id="15052" data-product="603" style="">
            <p class="answer_content">It can take a few days to weeks to adjust to Acuvue Oasys for Presbyopia contacts, depending on the lens type, material, and personal factors. Soft lenses typically require less adjustment time.</p>
        </div>
    </div>
    <div class="faq" data-id="15055" data-product="603">
        <div class="question closed" data-id="15055" data-product="603">
            <strong><p>Is Acuvue Oasys for Presbyopia contact lens FDA-approved?</p></strong>
        </div>

        <div class="answers" data-id="15055" data-product="603" style="">
            <p class="answer_content">Yes, Acuvue Oasys for Presbyopia lenses are FDA-approved. The FDA regulates all contact lenses as medical devices, ensuring they meet safety standards before being sold in the US.</p>
        </div>
    </div>
    <div class="faq" data-id="15060" data-product="603">
        <div class="question closed" data-id="15060" data-product="603">
            <strong><p>Are Acuvue Oasys for Presbyopia contacts tinted (aka 'handling tint), for improved visibility?</p></strong>
        </div>

        <div class="answers" data-id="15060" data-product="603" style="">
            <p class="answer_content">Yes, Acuvue Oasys for Presbyopia lenses include a light tint to make cleaning (when used with solution), handling, and inserting them easier.</p>
        </div>
    </div>
    <div class="faq" data-id="2687" data-product="603">
        <div class="question closed" data-id="2687" data-product="603">
            <strong><p>Are online Acuvue Oasys for Presbyopia contact lenses the same as from your eye doctor?</p></strong>
        </div>

        <div class="answers" data-id="2687" data-product="603" style="">
            <p class="answer_content">Yes, Acuvue Oasys for Presbyopia contacts from <a href="http://lens.com/"><u>Lens.com</u></a> are the same lenses sold by your ECP, but at a discounted price due to lower operating costs.</p>
        </div>
    </div>
    <div class="faq" data-id="2676" data-product="603">
        <div class="question closed" data-id="2676" data-product="603">
            <strong><p>Can I buy Acuvue Oasys for Presbyopia for someone else?</p></strong>
        </div>

        <div class="answers" data-id="2676" data-product="603" style="">
            <p class="answer_content">Yes, you can purchase Acuvue Oasys for Presbyopia contacts for someone else. Simply provide their prescription details and ECP's contact info, and <a href="http://lens.com/"><u>Lens.com</u></a> will handle the rest.</p>
        </div>
    </div>
    <div class="faq" data-id="2683" data-product="603">
        <div class="question closed" data-id="2683" data-product="603">
            <strong><p>How do I buy Acuvue Oasys for Presbyopia contacts online?</p></strong>
        </div>

        <div class="answers" data-id="2683" data-product="603" style="">
            <p class="answer_content">To buy Acuvue Oasys for Presbyopia contacts online, you'll need a credit card, the quantity you want, and your eye doctor's name. We can confirm your prescription with your doctor, or you can upload a physical copy. If you need assistance, our Customer Service team is available to help.</p>
        </div>
    </div>
    <div class="faq" data-id="2682" data-product="603">
        <div class="question closed" data-id="2682" data-product="603">
            <strong><p>Where can I buy Acuvue Oasys for Presbyopia contacts?</p></strong>
        </div>

        <div class="answers" data-id="2682" data-product="603" style="">
            <p class="answer_content">You can buy Acuvue Oasys for Presbyopia contacts online, at some stores, or from your ECP. <a href="http://lens.com/"><u>Lens.com</u></a> offers some of the lowest prices and rebates.</p>
        </div>
    </div>
    <div class="faq" data-id="2691" data-product="603">
        <div class="question closed" data-id="2691" data-product="603">
            <strong><p>Can I renew my Acuvue Oasys for Presbyopia RX/prescription online?</p></strong>
        </div>

        <div class="answers" data-id="2691" data-product="603" style="">
            <p class="answer_content">Yes, you can renew your Acuvue Oasys for Presbyopia prescription online through Lens.com in just 10 minutes. <a href="https://americansforvisioncareinnovation.org/the-issue/">Check</a> if the service is available in your state.</p>
        </div>
    </div>
    <div class="faq" data-id="2708" data-product="603">
        <div class="question closed" data-id="2708" data-product="603">
            <strong><p>Who makes Acuvue Oasys for Presbyopia contacts?</p></strong>
        </div>

        <div class="answers" data-id="2708" data-product="603" style="">
            <p class="answer_content">Acuvue Oasys for Presbyopia contacts are made by Johnson &amp; Johnson, and sold on Lens.com.</p>
        </div>
    </div>
    <div class="faq" data-id="2697" data-product="603">
        <div class="question closed" data-id="2697" data-product="603">
            <strong><p>Can Acuvue Oasys for Presbyopia contacts expire?</p></strong>
        </div>

        <div class="answers" data-id="2697" data-product="603" style="">
            <p class="answer_content">Like all contact lenses, Acuvue Oasys for Presbyopia lenses do expire. The expiration date will be stamped on the box itself or on the aluminum fold of the blister pack in either a YYYY-MM or YYYY-MM-DD format. Typically, the expiration date for contacts is several years after the date of packaging.</p>
        </div>
    </div>
    <div class="faq" data-id="2688" data-product="603">
        <div class="question closed" data-id="2688" data-product="603">
            <strong><p>How do I read my Acuvue Oasys for Presbyopia prescription?</p></strong>
        </div>

        <div class="answers" data-id="2688" data-product="603" style="">
            <p class="answer_content">Acuvue Oasys for Presbyopia prescriptions include power, base curve, diameter, and more. Check out our <a href="https://www.lens.com/faq/how-to-read/">guide</a> on reading your contact lens prescription for more info.</p>
        </div>
    </div>
    <div class="faq" data-id="2702" data-product="603">
        <div class="question closed" data-id="2702" data-product="603">
            <strong><p>Is Acuvue Oasys for Presbyopia discontinued?</p></strong>
        </div>

        <div class="answers" data-id="2702" data-product="603" style="">
            <p class="answer_content">No, Acuvue Oasys for Presbyopia contacts have not been discontinued by Johnson &amp; Johnson. They continue to be produced, marketed, and sold on Lens.com. Typically, if a contact lens ceases to be produced by the manufacturer, we will indicate it clearly on our product page as being a discontinued lens and it won't be an option to purchase them.</p>
        </div>
    </div>
    <div class="faq" data-id="2706" data-product="603">
        <div class="question closed" data-id="2706" data-product="603">
            <strong><p>Does Acuvue Oasys for Presbyopia contacts have an inside-out mark?</p></strong>
        </div>

        <div class="answers" data-id="2706" data-product="603" style="">
            <p class="answer_content">Yes, Acuvue Oasys for Presbyopia lenses are indicated as No to help you check if they're inside out. Place the lens on your fingertip and hold it to light to view the marking.</p>
        </div>
    </div>
    <div class="faq" data-id="2699" data-product="603">
        <div class="question closed" data-id="2699" data-product="603">
            <strong><p>What is the water content of Acuvue Oasys for Presbyopia?</p></strong>
        </div>

        <div class="answers" data-id="2699" data-product="603" style="">
            <p class="answer_content">Acuvue Oasys for Presbyopia contacts have a water content of 38%, contributing to oxygen flow to the cornea. While important, water content alone doesn't determine comfort--material and fit matter too.</p>
        </div>
    </div>
    <div class="faq" data-id="2689" data-product="603">
        <div class="question closed" data-id="2689" data-product="603">
            <strong><p>How to tell if my Acuvue Oasys for Presbyopia contacts are inside out?</p></strong>
        </div>

        <div class="answers" data-id="2689" data-product="603" style="">
            <p class="answer_content">Acuvue Oasys for Presbyopia contacts feel uncomfortable if worn inside out. They may move too much or even pop out. Some lenses have an inside-out mark to help you check.</p>
        </div>
    </div>
    <div class="faq" data-id="2707" data-product="603">
        <div class="question closed" data-id="2707" data-product="603">
            <strong><p>Do I need a prescription, or a copy of my prescription in order to buy Acuvue Oasys for Presbyopia?</p></strong>
        </div>

        <div class="answers" data-id="2707" data-product="603" style="">
            <p class="answer_content">Yes, you need a valid prescription to buy Acuvue Oasys for Presbyopia contacts, but you don't need a hard copy. <a href="http://lens.com/"><u>Lens.com</u></a> can verify it with your ECP.</p>
        </div>
    </div>
    <div class="faq" data-id="2690" data-product="603">
        <div class="question closed" data-id="2690" data-product="603">
            <strong><p>Can I be allergic to Acuvue Oasys for Presbyopia contacts?</p></strong>
        </div>

        <div class="answers" data-id="2690" data-product="603" style="">
            <p class="answer_content">Acuvue Oasys for Presbyopia lenses are hypoallergenic, but buildup on the lenses can cause reactions. If you experience symptoms, remove your contacts and consult your ECP.</p>
        </div>
    </div>
    <div class="faq" data-id="2698" data-product="603">
        <div class="question closed" data-id="2698" data-product="603">
            <strong><p>Do Acuvue Oasys for Presbyopia lenses have UV protection?</p></strong>
        </div>

        <div class="answers" data-id="2698" data-product="603" style="">
            <p class="answer_content">Yes, Acuvue Oasys for Presbyopia contacts have some of the highest levels of UV protection on the market today. They are a great option if you spend a good deal of time outdoors.&nbsp;</p>
        </div>
    </div>
    <div class="faq" data-id="160" data-product="603">
        <div class="question closed" data-id="160" data-product="603">
            <strong>Can you sleep in Acuvue Oasys for Presbyopia?</strong>
        </div>

        <div class="answers" data-id="160" data-product="603" style="">
            <p class="answer_content">Yes, Acuvue Oasys for Presbyopia are approved for extended wear (overnight) for up to 1 week. Overnight wear should follow guidance from your ECP.</p>
        </div>
    </div>
    <div class="faq" data-id="161" data-product="603">
        <div class="question closed" data-id="161" data-product="603">
            <strong>How long can you wear &amp; how long does a supply of Acuvue Oasys for Presbyopia last?</strong>
        </div>

        <div class="answers" data-id="161" data-product="603" style="">
            <p class="answer_content">Acuvue Oasys for Presbyopia when worn for a full 14 day period can be worn for up to 14 hours per day. In this mode, 1 box (per eye) is good for 3 months. If you choose to wear them in extended mode (sleeping with them on) you can wear them continuously for 6 nights/7 days. With the extended wear schedule, 1 box of 6 lenses will last you 6 weeks.</p>
        </div>
    </div>
    <div class="faq" data-id="162" data-product="603">
        <div class="question closed" data-id="162" data-product="603">
            <strong>Can you get contacts for presbyopia?</strong>
        </div>

        <div class="answers" data-id="162" data-product="603" style="">
            <p class="answer_content">Yes, multifocal lenses are specifically designed with their multiple zones (near, intermediate, and far) of power in a single lens. These contacts can effectively correct for presbyopia from mild to advanced cases, depending on the product/lens design.</p>
        </div>
    </div>
    <div class="faq" data-id="163" data-product="603">
        <div class="question closed" data-id="163" data-product="603">
            <strong>What is presbyopia and how is it corrected? </strong>
        </div>

        <div class="answers" data-id="163" data-product="603" style="">
            <p class="answer_content">Presbyopia is an age-related condition where the lens loses its elasticity over time, and thus it is no longer able to focus on varying distances; near, intermediate, and far. Multifocal contacts designed for presbyopia address this by their multiple powers equipped within 1 lens, to correct for this condition.</p>
        </div>
    </div>
    <div class="faq" data-id="2911" data-product="603">
        <div class="question closed" data-id="2911" data-product="603">
            <strong>How does Acuvue Oasys for Presbyopia contacts work?</strong>
        </div>

        <div class="answers" data-id="2911" data-product="603" style="">
            Acuvue Oasys for Presbyopia was designed to address prebyopia by incorporating multiple focus zones to allow clear vision at any given distance.
        </div>
    </div>

</div>