<div id="needhelp">
    <div class="text">
        <h3>We're Here To Help 24/7</h3>
        <p>
            <span>Have a question? Call us at<br></span>
            <a href="tel:1-788-536-7266" title="Contact us">1-800 LENSci.COM (776-7266)</a>
        </p>
    </div>
    <div class="icons">
        <a href="tel:1-800-536-7266" title="Contact us">
            <div class="button first">
                <i class="fas fa-phone-alt icon" aria-hidden="true" title="Call us"></i>
                <p>Call</p>
            </div>
        </a>
        <a id="live_chat_link" href="#" title="Live Chat">
            <div class="button">
                <i class="fas fa-comments icon" aria-hidden="true" title="Chat"></i>
                <p>Chat</p>
            </div>
        </a>
    </div>
</div>
