<div id="badges" class="badges-container">
  
    <div class="badges-wrapper">
        <div class="badges-list">
            <div class="badge money-back">
                <div class="fancybadges" data-height="300" data-width="800" data-url="/common/popups/pop_moneyBackGuarantee.asp">
                    <i class="fas fa-dollar-sign icon" aria-hidden="true" title="Money Back Guarantee"></i>
                    <div class="badge-text">Money Back Guarantee</div>
                </div>
            </div>

            <div class="badge hassle-free-returns">
                <div class="fancybadges" data-height="375" data-width="800" data-url="/common/popups/pop_hassleFreeReturns.asp?mode=static">
                    <i class="fas fa-undo-alt icon" aria-hidden="true" title="Hassle Free Returns"></i>
                    <div class="badge-text">Hassle Free Returns</div>
                </div>
            </div>

            <div class="badge customer-service">
                <i class="fas fa-headset icon" aria-hidden="true" title="Customer Service 24/7"></i>
                <div class="badge-text">Customer Service 24/7 <a id="live_chat_link" href="#" title="Live Chat" class="live-chat-link">Live Chat</a></div>
            </div>
        </div>
    </div>
</div>
