<div class="heading steps">
    <h1>Shopping Cart</h1>
    <div id="checkout_steps">
        <div class="steps_label">2 Easy Steps</div>
        <div class="step one order_info">
            <div class="number">1</div>
            <div class="label">Shipping Information</div>
            <div class="mobile label">Shipping Info</div>
        </div>
        <div class="step two submit_order">
            <div class="number">2</div>
            <div class="label">Submit Order</div>
        </div>
    </div>
</div>