  

    <div class="step-container">
        <div class="step-heading">2 EASY STEPS</div>
        <div class="steps">
            <div class="step">
                <div class="circle">1</div>
                SHIPPING INFORMATION
            </div>
            <div class="line"></div>
            <div class="step">
                <div class="circle">2</div>
                SUBMIT ORDER
            </div>
        </div>
    </div>


