<div id="testimonials">
    <h4>We Love Happy Customers</h4>

    <div class="inner">
        <div class="homereview">
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="quote">
                <div class="description">"This order process was so easy. The price along with submitting a rebate was easy. Definitely recommend buying here over anyone else."</div>
            </div>
            <div class="person">
                <span class="reviewer">- Scotty</span><span class="date">December, 2022</span>
            </div>
        </div>

        <div class="homereview">
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="quote">
                <div class="description">"I have been ordering Night & Day Aqua contacts for years from Lens.com and am 100% satisfied with the fit, moisture, and size of my lenses. Never have any problems! Lens.com by far has the best prices and the best delivery times. Thank you!"</div>
            </div>
            <div class="person">
                <span class="reviewer">- Denise</span><span class="date">March, 2023</span>
            </div>
        </div>

        <div class="homereview">
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="quote">
                <div class="description">"My daughter loves the convenience of dailies and the ability to order them online for a great price (after rebate) is a bonus!"</div>
            </div>
            <div class="person">
                <span class="reviewer">- Louise</span><span class="date">January, 2023</span>
            </div>
        </div>
    </div>

  
</div>
