<div id="tiles">
    <ul>
        <li class="reorder">
            <a href="/order/history" title="Quick Order">
                <i class="fa fa-repeat"></i>
                <span>Quick Order</span>
            </a>
        </li>
        <li class="status">
            <a href="/orderdetails/0" title="Order Status">
                <i class="fa fa-truck"></i>
                <span>Order Status</span>
            </a>
        </li>
        <li class="stores">
            <a href="/magazalar" title="Our stores">
                <i class="fa fa-bank"></i>
                <span>Our Stores</span>
            </a>
        </li>
        <li class="about">
            <a href="/kurumsal" title="About Lensci.com">
                <i class="fa fa-info-circle"></i>
                <span>Institutional</span>
            </a>
        </li>
        <li class="help">
            <a href="/yardim" title="Help">
                <i class="fa fa-question-circle"></i>
                <span>Help</span>
            </a>
        </li>
    </ul>
</div>
