<div id="whylensci">
    <h2 class="head">Why lensci.com?</h2>
    <div class="whylensci_container">
        <div class="whylensci_item">
            <img src="~/Themes/LensciTheme/Content/Images/para-iade-garantisi.png" alt="Customer Satisfaction">
            <br>
            <span><span id="yil">21+</span> Years of Customer <br> Satisfaction</span>
        </div>
        <div class="whylensci_item">
            <img src="~/Themes/LensciTheme/Content/Images/taksit.png" alt="Lens Delivery">
            <br>
            <span><span id="siparis">6+</span> Million Successful <br> Deliveries</span>
        </div>
        <div class="whylensci_item">
            <img src="~/Themes/LensciTheme/Content/Images/ucretsiz-kargo.png" alt="Lens Ready to Ship">
            <br>
            <span><span id="lensler">1+</span> Million Lenses <br> Ready to Ship</span>
        </div>
    </div>
</div>
