


<style>


  
</style>

<div id="prescriptionItemContainer" class="container">
    <div class="savings-banner">
        <div>✅</div>
        <div class="save-message">YOU SAVE $75</div>
        <div class="best-value">WITH 4 BOXES</div>
    </div>

    <div class="qty-select">
        <div>
            <label for="right-eye">Right Eye (OD) Qty</label><br>
            <select id="right-eye">
                <option>2 BOXES</option>
                <option>4 BOXES</option>
                <option>6 BOXES</option>
            </select>
        </div>
        <div>
            <label for="left-eye">Left Eye (OS) Qty</label><br>
            <select id="left-eye">
                <option>2 BOXES</option>
                <option>4 BOXES</option>
                <option>6 BOXES</option>
            </select>
        </div>
    </div>

    <a id="" class="continue-btn" onclick="showPrescription()">Continue</a>
    <p>Use your FSA or HSA. <a href="javascript:void(0);" onclick="openModal()">Learn More</a></p>
</div>

<div class="conatiner-2" id="prescriptionContainer" style="display:none;">
    <div class="tabs">
        <div class="tab active"><span class="tab-icon">💊</span> Enter Your Prescription</div>
        <div class="tab"><span class="tab-icon">⬆️</span> Upload Your Prescription</div>
    </div>

    <div class="checkbox">
        <label><input type="checkbox"> Same prescription for both eyes</label>
    </div>

    <table class="form-table">
        <tr>
            <th>Right Eye (OD)</th>
            <th>Left Eye (OS)</th>
        </tr>
        <tr>
            <td>Base Curve</td>
            <td>8.4</td>
            <td>Base Curve</td>
            <td>8.4</td>
        </tr>
        <tr>
            <td>Diameter</td>
            <td>14.3</td>
            <td>Diameter</td>
            <td>14.3</td>
        </tr>
        <tr>
            <td>
                <select>
                    <option>Power</option>
                    <option>+1.00</option>
                    <option>-1.00</option>
                </select>
            </td>
            <td>
                <select>
                    <option>Power</option>
                    <option>+1.00</option>
                    <option>-1.00</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <select>
                    <option>Addition</option>
                    <option>+1.25</option>
                    <option>+2.00</option>
                </select>
            </td>
            <td>
                <select>
                    <option>Addition</option>
                    <option>+1.25</option>
                    <option>+2.00</option>
                </select>
            </td>
        </tr>
    </table>

    <!-- Patient Info -->
    <div class="patient-info">
        <input type="text" placeholder="Patient Name">
        <input type="text" placeholder="First Name Last Name">
    </div>
    <div class="patient-info">
        <input type="text" placeholder="Patient Date of Birth">
        <input type="text" placeholder="MM/DD/YYYY" />
    </div>

    <!-- Continue Button -->
    <button class="continue-btn">Continue</button>

    <a class="btn large back ghost" onclick="GoBack()" title="Go Back">Go Back</a>
</div>

<script>

    function showPrescription() {
        document.getElementById("prescriptionContainer").style.display = "block";
        document.getElementById("prescriptionItemContainer").style.display = "none";
    }
    function GoBack() {
        document.getElementById("prescriptionContainer").style.display = "none";
        document.getElementById("prescriptionItemContainer").style.display = "Block";
    }
</script>



    <div id="cstCartModal" class="cst-cart-modal">
        <div class="cst-cart-modal-content">
            <span class="cst-cart-close-btn" onclick="closeModal()">&times;</span>
            <h2>What is a Flexible Spending Account?</h2>
            <p>A Flexible Spending Account is a fund which allows you to pay for eligible medical expenses with pre-tax money. Doctor office co-pays, bandages, contact lenses, contact lens solution, etc. are eligible expenses. Many employers include the option of a Flexible Spending Account with their benefit package.</p>
            
            <h3>Use it or lose it!</h3>
            <p>Flexible Spending money must be used by a specific date set by your provider. If the funds are not used by this specified date, all remaining money is lost.</p>

            <p>Here are some tips to make sure this doesn't happen to you:</p>
            <ul>
                <li>Talk to your company or provider about enrollment and expiration dates.</li>
                <li>Track your exact balance throughout the year.</li>
                <li>Don't wait until the last minute. Last-minute purchases run the risk that they will not be eligible for reimbursement.</li>
            </ul>
        </div>
    </div>

    <script>
        function openModal() {
            document.getElementById("cstCartModal").style.display = "block";
        }

        function closeModal() {
            document.getElementById("cstCartModal").style.display = "none";
        }

        window.onclick = function(event) {
            var modal = document.getElementById("cstCartModal");
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>


