<svg id="security_badges_icons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" style="width:0;height:0;position:absolute;">
    <defs>
        <symbol id="best_value" viewBox="0 0 125.861 49.769"> <g xmlns="http://www.w3.org/2000/svg" id="Best_value" data-name="Best value" transform="translate(-1235.436 -497.994)"> <g id="arrow" transform="translate(-48.176)"> <path id="Path_9" data-name="Path 9" d="M-4814.773-3539.142s5.9,23.106-47.984,19.966" transform="translate(6156 4061)" fill="none" stroke="#707070" stroke-linecap="round" stroke-width="1"></path> <path id="Path_11" data-name="Path 11" d="M-4814.773-3539.142s6.261,23.778-47.625,20.637" transform="translate(6156 4061)" fill="none" stroke="#707070" stroke-linecap="round" stroke-width="1"></path> <path id="Path_13" data-name="Path 13" d="M1298.7,536.111l-7.008,5.85,1.889,1.28,5.565,4.022-6.317-5.3Z" fill="#707070" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"></path> </g> <g id="yourbestvalue-handwritten" transform="translate(1232.827 504.917) rotate(-5)"> <path id="Path_113" data-name="Path 113" d="M96.452,12.988a22.52,22.52,0,0,0,4.147-.266q.419-.02.837,0c.226,0,.452.053.465.319,0,.239-.226.266-.412.292-.479.066-.97.12-1.462.16a18.632,18.632,0,0,0-2.818.479,9.187,9.187,0,0,1-3.456.292,9.362,9.362,0,0,1-1.582-.2,11.019,11.019,0,0,1-1.515-.824,1.368,1.368,0,0,0-1.183-.12,3.388,3.388,0,0,1-2.446-.186,1.322,1.322,0,0,1-.651-.611c-.306-.572-.572-.585-.917-.08-.053.08-.093.186-.16.226-1.023.492-1.887,1.343-3.217,1.023a1.766,1.766,0,0,1-1.608-1.981,1.135,1.135,0,0,0-.013-.558,1.451,1.451,0,0,1,.08-1.156,6.426,6.426,0,0,1,1.582-2.432.559.559,0,0,1,.758-.066.526.526,0,0,1,.186.731,2.811,2.811,0,0,1-.425.638c-.253.266-.465.585-.691.864a2.072,2.072,0,0,0-.306,1.794,1.218,1.218,0,0,0,1.648,1.023,4.275,4.275,0,0,0,1.489-.891,8.738,8.738,0,0,0,1.582-2.233,3.8,3.8,0,0,1,.891-1.063c.133-.093.279-.213.439-.08a.36.36,0,0,1,.12.439c-.186.452-.239.944-.439,1.4a1.684,1.684,0,0,0,.6,2.1.777.777,0,0,0,.372.16,4.339,4.339,0,0,0,1.316-.093,1.218,1.218,0,0,0,.837-.691A5.347,5.347,0,0,0,91.082,9.9c.04-.359.239-.678.6-.678a3.907,3.907,0,0,0,2.06-.93c.279-.173.532-.372.8-.558a.984.984,0,0,1,1.608.771c.027.412.053.837.053,1.263a1.4,1.4,0,0,1-1.529,1.422,4.043,4.043,0,0,1-1.436-.266A.472.472,0,0,0,93.1,10.9c-.678-.12-1.183.106-1.249.558a1.411,1.411,0,0,0,.93,1.249A12.119,12.119,0,0,0,96.452,12.988ZM93.807,9.306a.609.609,0,0,0,.611.678c.306.027.625-.16.651-.385.04-.319-.319-.665-.731-.691C94.006,8.881,93.847,9,93.807,9.306Z" transform="translate(25.618 2.135)" fill="#102ad6"></path> <path id="Path_114" data-name="Path 114" d="M42.63,17.824c-.6-.385-1.449-.027-2.007-.691a.573.573,0,0,0-.957.346,1.963,1.963,0,0,0-.013.279c-.013.319.027.678-.385.811a1.582,1.582,0,0,1-1.343-.12c-.239-.146-.2-.425-.12-.638.572-1.369.9-2.831,1.449-4.2a20.89,20.89,0,0,0,.957-4.2c.292-1.6.292-3.243.425-4.852a10.911,10.911,0,0,1,.585-3.2c.12-.279.239-.585.585-.625a.746.746,0,0,1,.691.4.669.669,0,0,1,.053.611,7.794,7.794,0,0,0-.292,1.223c-.133.944-.425,1.848-.505,2.791-.08.9-.226,1.781-.385,2.672-.12.638-.12,1.276-.213,1.927a.741.741,0,0,0,.385.771c.279.146.465-.093.691-.213a5.314,5.314,0,0,1,1.755-.824,1.666,1.666,0,0,1,1.436.372,6.166,6.166,0,0,1,.957.9,2.187,2.187,0,0,1,.452,1.7,10.521,10.521,0,0,1-.479,2.313c-.04.106-.04.253-.106.332a5.093,5.093,0,0,1-2.074,1.675c-.292.093-.572.2-.864.292C43.109,17.718,42.883,17.758,42.63,17.824Zm3.1-5.011c.04-.851-.891-1.941-1.608-1.728a3.872,3.872,0,0,0-2.02,1.183,22.52,22.52,0,0,0-1.489,2.5.645.645,0,0,0-.066.718c.173.279.439.213.691.146a2.492,2.492,0,0,1,2.007.292.8.8,0,0,0,.984.066,3.754,3.754,0,0,0,1-1.05A5.262,5.262,0,0,0,45.727,12.813Z" transform="translate(11.583 0.011)" fill="#102ad6"></path> <path id="Path_115" data-name="Path 115" d="M12.689,1.9a8.9,8.9,0,0,1-.678,2.977,1.348,1.348,0,0,0-.133.319,17.305,17.305,0,0,1-1.3,3.589A27.242,27.242,0,0,0,9.02,12.8a3.139,3.139,0,0,1-.558,1.037c-.08.12-.186.226-.346.093-.186-.16-.306-.04-.372.12-.066.186-.027.346.2.359.292.013.279.2.226.385-.08.319-.093.758-.372.97-.385.306-.292.611-.319,1.17a6.418,6.418,0,0,1,.066.944A8.073,8.073,0,0,1,7,19.111c-.253.492-.332,1-.8,1.343-.611.452-.585,1.13-.917,1.808a1.01,1.01,0,0,1-.372.412.559.559,0,0,1-.651.013.454.454,0,0,1-.146-.572,19.249,19.249,0,0,1,.864-2.193,33.288,33.288,0,0,0,2.087-5.091,1.394,1.394,0,0,0-.4-1.529,3.4,3.4,0,0,1-.8-1.289c-.572-1.5-1.2-2.977-1.768-4.466a9.155,9.155,0,0,0-.691-1.515,9.28,9.28,0,0,1-.824-2.22c-.106-.319.093-.585.452-.758.306-.146.492.04.651.226a2.967,2.967,0,0,1,.545,1.13A23.773,23.773,0,0,0,6.176,8.876a5.674,5.674,0,0,1,.479,1.3,4.834,4.834,0,0,0,.691,1.356c.279.465.638.425.877-.066a1.866,1.866,0,0,0,.173-.452A28.552,28.552,0,0,1,9.8,7.241a16.9,16.9,0,0,0,1.09-4.187A8.654,8.654,0,0,0,11.2,1.207a.457.457,0,0,1,.412-.492.76.76,0,0,1,.771.213A1.278,1.278,0,0,1,12.689,1.9Zm-3.11,8.494c.066-.027.12-.08.093-.16a.183.183,0,0,0-.106-.066c-.066.027-.12.08-.093.16C9.486,10.352,9.539,10.365,9.579,10.391ZM4.488,7.1c.027-.027.08-.04.08-.066.027-.066,0-.133-.08-.133-.013-.013-.066.027-.08.053C4.382,7.015,4.408,7.068,4.488,7.1Z" fill="#102ad6"></path> <path id="Path_116" data-name="Path 116" d="M11.9,18.273a8.782,8.782,0,0,1-2.565-.651.531.531,0,0,1-.266-.213,3.544,3.544,0,0,1-.492-3.323A37.42,37.42,0,0,1,10.49,10.3c.106-.213.239-.439.479-.479a7.647,7.647,0,0,0,2.22-1.143,4.723,4.723,0,0,1,1.9-.625,1.761,1.761,0,0,1,1.768.984,2.663,2.663,0,0,0,.518.638,4.48,4.48,0,0,1,1.05,1.861,1.078,1.078,0,0,1-.027.545c-.053.279-.12.545-.146.824a2.649,2.649,0,0,1-1.063,2.02.818.818,0,0,0-.213.266,5.791,5.791,0,0,1-1.13,1.409,3.627,3.627,0,0,1-2.074,1.17,5.863,5.863,0,0,0-.984.359A2.972,2.972,0,0,1,11.9,18.273Zm5.662-6.021a1.3,1.3,0,0,0-.319-1.063,2.744,2.744,0,0,1-.332-.532,1.471,1.471,0,0,0-1.728-.851,7.015,7.015,0,0,1-.877.213.649.649,0,0,0-.638.691,2.082,2.082,0,0,1-.346.97c-.279.479-.319.505-.8.279A.492.492,0,0,0,12,11.92a5.708,5.708,0,0,0-1.7,1.635,5.526,5.526,0,0,0-.585,1.728,1.392,1.392,0,0,0,.678,1.489,2.645,2.645,0,0,0,1.622.306,7.654,7.654,0,0,0,3.576-1.6,8.561,8.561,0,0,0,1.422-1.688A2.628,2.628,0,0,0,17.561,12.252Z" transform="translate(1.907 2.419)" fill="#102ad6"></path> <path id="Path_117" data-name="Path 117" d="M16.574,14.879a10.907,10.907,0,0,1,1.023-3.3c.439-.651.9-1.289,1.289-1.994a2.488,2.488,0,0,1,.532-.651.521.521,0,0,1,.651-.066A.457.457,0,0,1,20.3,9.4a2.648,2.648,0,0,0-.053.558.859.859,0,0,1-.292.665A11.864,11.864,0,0,0,17.9,14.148a1.073,1.073,0,0,0,.08.944.964.964,0,0,0,.917.492,8.346,8.346,0,0,0,3.974-1.143A1.362,1.362,0,0,0,23.5,12.5a3.555,3.555,0,0,1-.372-.824c-.146-.545,0-.891.412-1.037a1.055,1.055,0,0,1,1.236.518,2.268,2.268,0,0,1,.093.891,3.187,3.187,0,0,0,1.023,2.432,3.4,3.4,0,0,0,.9.518.645.645,0,0,0,.6-.093,1.8,1.8,0,0,1,.558-.266.7.7,0,0,1,.7.2c.16.2,0,.4-.08.585a1.162,1.162,0,0,1-.957.811.493.493,0,0,0-.2.053c-.811.452-1.356,0-1.887-.532-.253-.239-.479-.505-.731-.744-.425-.412-.678-.412-1.156-.04a.358.358,0,0,0-.106.093,4.618,4.618,0,0,1-2.326,1.3c-.04.013-.106,0-.133.027-.851.665-1.874.439-2.831.465a1.3,1.3,0,0,1-1.21-.784C16.826,15.73,16.481,15.384,16.574,14.879Z" transform="translate(4.609 2.664)" fill="#102ad6"></path> <path id="Path_118" data-name="Path 118" d="M56.26,7.6a5.6,5.6,0,0,1,1.249.106,4.406,4.406,0,0,0,.837,0c.93-.12,1.236-.851,1.5-1.555.372-.957.731-1.914,1.063-2.871.186-.518.292-1.063.452-1.6.04-.133.08-.266.133-.4a.51.51,0,0,1,.625-.332c.253.066.319.279.359.532a2.987,2.987,0,0,1-.4,1.794c-.425.93-.611,1.941-1,2.884-.2.479.12.864.665.877a6.259,6.259,0,0,0,1.861-.213A8.244,8.244,0,0,1,64.993,6.7a.458.458,0,0,1,.266.053.26.26,0,0,1,.186.266c-.013.146-.133.173-.253.186a11.931,11.931,0,0,0-1.927.332,6.518,6.518,0,0,0-2.884,1.156,1.9,1.9,0,0,0-.7.93A22.964,22.964,0,0,1,58.387,13a9.258,9.258,0,0,1-.572,1.343,1.464,1.464,0,0,0-.146.891,5.919,5.919,0,0,1-.16,1.529.978.978,0,0,1-1.4.6.321.321,0,0,1-.173-.346,1,1,0,0,1,.173-.452,5.4,5.4,0,0,0,.518-1.356A14.182,14.182,0,0,1,57.4,13.2a21.049,21.049,0,0,0,1.223-3.19c.186-.8-.239-1.276-1.05-1.17a3.989,3.989,0,0,1-1.728-.066,1.624,1.624,0,0,1-.7-.439c-.279-.266-.226-.452.146-.6A4.739,4.739,0,0,1,56.26,7.6Z" transform="translate(17.254 0.079)" fill="#102ad6"></path> <path id="Path_119" data-name="Path 119" d="M76.814,9.434l.718.558a.679.679,0,0,1,.292.851c-.106.332-.173.678-.266,1.01-.186.771-.04,1.05.718,1.329a4.966,4.966,0,0,0,1.648.253c.16,0,.346-.053.4.173.04.16-.093.239-.2.332a2.507,2.507,0,0,1-2.818.066,11.076,11.076,0,0,0-1.09-.452.813.813,0,0,0-.611-.013,10.227,10.227,0,0,1-1.555.385,3.629,3.629,0,0,1-2.127-.12,1.579,1.579,0,0,1-.758-1.6,7.381,7.381,0,0,1,.8-2.153,1.37,1.37,0,0,1,.545-.518,13.376,13.376,0,0,0,2.074-1.276,2.474,2.474,0,0,1,.824-.385.769.769,0,0,1,1.1.505c.133.346.226.7.332,1.063a3.574,3.574,0,0,1-.771-.053,1.727,1.727,0,0,0-1.156.04,1.529,1.529,0,0,1-.545.106,1.576,1.576,0,0,0-.811.346,3.018,3.018,0,0,0-1.2,1.887.952.952,0,0,0,1.223,1.249c.385-.093.731-.292,1.1-.412a2.928,2.928,0,0,0,1.887-1.781c.093-.226.186-.412.053-.651A.569.569,0,0,1,76.814,9.434Z" transform="translate(22.58 2.34)" fill="#102ad6"></path> <path id="Path_120" data-name="Path 120" d="M50.237,9.718c-.572-.066-.518-.678-.851-.93-.08-.066.053-.213.16-.266a2.2,2.2,0,0,1,1.688-.2c.412.133.532.492.611.864a1.2,1.2,0,0,1-.9,1.529,7.815,7.815,0,0,1-2.645.532,2.565,2.565,0,0,0-1.422.532.851.851,0,0,0-.439.811.838.838,0,0,0,.638.665,3.254,3.254,0,0,0,1.515.146,6.014,6.014,0,0,0,1.369-.226.287.287,0,0,1,.412.146c.093.239-.066.359-.266.412a9.768,9.768,0,0,1-2.393.678,2.075,2.075,0,0,1-2.22-2.353,5.761,5.761,0,0,1,.465-1.6.992.992,0,0,1,.8-.7c.439-.053.744-.452,1.236-.412a1.113,1.113,0,0,1,.758.226A1.167,1.167,0,0,0,50.237,9.718Z" transform="translate(14.132 2.481)" fill="#102ad6"></path> <path id="Path_121" data-name="Path 121" d="M31.314,9.938c-.385-.053-.7-.093-1.023-.133-.824-.106-1.1.08-1.289.891a22.478,22.478,0,0,0-.412,3.389,10.434,10.434,0,0,0-.226,1.715c.027.346-.452.691-.9.744a.806.806,0,0,1-.917-.452,3.46,3.46,0,0,1-.372-2.353A2.445,2.445,0,0,0,26.1,12.5c-.146-.492,0-.678.492-.638a1.113,1.113,0,0,0,1.276-.9,14.436,14.436,0,0,1,.6-1.409,2.432,2.432,0,0,1,.465-.691.694.694,0,0,1,1-.133,3.161,3.161,0,0,0,2.738.306,1.417,1.417,0,0,1,.4-.08.277.277,0,0,1,.292.253.236.236,0,0,1-.186.253A8.33,8.33,0,0,1,31.314,9.938Z" transform="translate(7.734 2.594)" fill="#102ad6"></path> <path id="Path_122" data-name="Path 122" d="M66.471,10.128a1.891,1.891,0,0,1,.266,1.13c.013.585-.013,1.17.027,1.741.066.864.718,1.17,1.422.665a10.248,10.248,0,0,0,1.436-1.3,9.671,9.671,0,0,0,1.223-1.329,11.079,11.079,0,0,0,.665-1.143,1.91,1.91,0,0,0,.173-1.156,5.566,5.566,0,0,1-.053-1.05.814.814,0,0,1,.2-.572c.16-.173.332-.346.6-.266.292.08.319.346.279.572a5.853,5.853,0,0,1-.545,2.353c-.253.425-.306.957-.572,1.409a9.235,9.235,0,0,1-.784,1.236,3.19,3.19,0,0,0-.731,1.409.69.69,0,0,1-.359.492c-.492.292-.984.611-1.5.877a2.152,2.152,0,0,1-2.605-.665.746.746,0,0,1-.146-.731,3.161,3.161,0,0,0,.133-1.449,2.829,2.829,0,0,1,.651-2.06A.826.826,0,0,1,66.471,10.128Z" transform="translate(20.693 2.018)" fill="#102ad6"></path> <path id="Path_123" data-name="Path 123" d="M53.378,14.875c-.585,0-1.156.013-1.741,0A1.538,1.538,0,0,1,50.4,13.506a.821.821,0,0,1,.984-.665c.279.066.625.12.731.452.106.292.332.306.558.279.4-.027.784-.066,1.183-.093.292-.013.558-.093.651-.412a.8.8,0,0,0-.226-.891,6.748,6.748,0,0,1-1.063-.891,7.418,7.418,0,0,1-.518-.744,1.474,1.474,0,0,1,.213-1.861A.846.846,0,0,1,54.2,8.548a7.344,7.344,0,0,1,.7.572c.239.226.226.4-.053.545a1,1,0,0,1-.4.12c-.253.04-.439.12-.479.412s-.013.545.306.7a3.359,3.359,0,0,1,.877.691c.731.718.771,1.063.4,2.074-.385,1.063-.465,1.077-1.622,1.17-.186.013-.372,0-.558,0Z" transform="translate(15.75 2.508)" fill="#102ad6"></path> <path id="Path_124" data-name="Path 124" d="M80.688,2.965a8.467,8.467,0,0,1-.4,2.353c-.372,1.369-.346,2.765-.611,4.134a22.97,22.97,0,0,0-.479,2.672,3.594,3.594,0,0,0,.346,2.286c.279.465.213.731-.08.917a.788.788,0,0,1-1-.2,1.028,1.028,0,0,1-.306-.944c.146-1.263.266-2.539.385-3.815.053-.532.239-1.063.253-1.568.027-.891.213-1.755.253-2.632a18.6,18.6,0,0,1,.226-2.432A7.519,7.519,0,0,1,79.864,2.1c.12-.279.332-.266.532-.013C80.582,2.367,80.808,2.619,80.688,2.965Z" transform="translate(24.886 0.395)" fill="#102ad6"></path> </g> </g> </symbol>
        <symbol id="best_value_under" viewBox="0 0 145.417 56.252"> <g id="Best_value_under" data-name="Best value" transform="translate(-1235.436 -479.264)"> <g id="arrow" transform="translate(1387.755 500.502) rotate(131)"> <path id="Path_9" data-name="Path 9" d="M47.984,20.259S8.875-28.613,4.428,24.66" transform="translate(1.548 5.146)" fill="none" stroke="#707070" stroke-linecap="round" stroke-width="1"></path> <path id="Path_11" data-name="Path 11" d="M47.625,20.924S8.223-26.345,4.678,25.638" transform="translate(1.908 4.481)" fill="none" stroke="#707070" stroke-linecap="round" stroke-width="1"></path> <path id="Path_13" data-name="Path 13" d="M7.008,11.152,0,5.3l1.889-1.28L7.455,0,1.138,5.3Z" transform="translate(1.457 32.998) rotate(-99)" fill="#707070" stroke="#707070" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"></path> </g> <g id="yourbestvalue-handwritten" transform="translate(1232.827 504.917) rotate(-5)"> <path id="Path_113" data-name="Path 113" d="M96.452,12.988a22.52,22.52,0,0,0,4.147-.266q.419-.02.837,0c.226,0,.452.053.465.319,0,.239-.226.266-.412.292-.479.066-.97.12-1.462.16a18.632,18.632,0,0,0-2.818.479,9.187,9.187,0,0,1-3.456.292,9.362,9.362,0,0,1-1.582-.2,11.019,11.019,0,0,1-1.515-.824,1.368,1.368,0,0,0-1.183-.12,3.388,3.388,0,0,1-2.446-.186,1.322,1.322,0,0,1-.651-.611c-.306-.572-.572-.585-.917-.08-.053.08-.093.186-.16.226-1.023.492-1.887,1.343-3.217,1.023a1.766,1.766,0,0,1-1.608-1.981,1.135,1.135,0,0,0-.013-.558,1.451,1.451,0,0,1,.08-1.156,6.426,6.426,0,0,1,1.582-2.432.559.559,0,0,1,.758-.066.526.526,0,0,1,.186.731,2.811,2.811,0,0,1-.425.638c-.253.266-.465.585-.691.864a2.072,2.072,0,0,0-.306,1.794,1.218,1.218,0,0,0,1.648,1.023,4.275,4.275,0,0,0,1.489-.891,8.738,8.738,0,0,0,1.582-2.233,3.8,3.8,0,0,1,.891-1.063c.133-.093.279-.213.439-.08a.36.36,0,0,1,.12.439c-.186.452-.239.944-.439,1.4a1.684,1.684,0,0,0,.6,2.1.777.777,0,0,0,.372.16,4.339,4.339,0,0,0,1.316-.093,1.218,1.218,0,0,0,.837-.691A5.347,5.347,0,0,0,91.082,9.9c.04-.359.239-.678.6-.678a3.907,3.907,0,0,0,2.06-.93c.279-.173.532-.372.8-.558a.984.984,0,0,1,1.608.771c.027.412.053.837.053,1.263a1.4,1.4,0,0,1-1.529,1.422,4.043,4.043,0,0,1-1.436-.266A.472.472,0,0,0,93.1,10.9c-.678-.12-1.183.106-1.249.558a1.411,1.411,0,0,0,.93,1.249A12.119,12.119,0,0,0,96.452,12.988ZM93.807,9.306a.609.609,0,0,0,.611.678c.306.027.625-.16.651-.385.04-.319-.319-.665-.731-.691C94.006,8.881,93.847,9,93.807,9.306Z" transform="translate(25.618 2.135)" fill="#102ad6"></path> <path id="Path_114" data-name="Path 114" d="M42.63,17.824c-.6-.385-1.449-.027-2.007-.691a.573.573,0,0,0-.957.346,1.963,1.963,0,0,0-.013.279c-.013.319.027.678-.385.811a1.582,1.582,0,0,1-1.343-.12c-.239-.146-.2-.425-.12-.638.572-1.369.9-2.831,1.449-4.2a20.89,20.89,0,0,0,.957-4.2c.292-1.6.292-3.243.425-4.852a10.911,10.911,0,0,1,.585-3.2c.12-.279.239-.585.585-.625a.746.746,0,0,1,.691.4.669.669,0,0,1,.053.611,7.794,7.794,0,0,0-.292,1.223c-.133.944-.425,1.848-.505,2.791-.08.9-.226,1.781-.385,2.672-.12.638-.12,1.276-.213,1.927a.741.741,0,0,0,.385.771c.279.146.465-.093.691-.213a5.314,5.314,0,0,1,1.755-.824,1.666,1.666,0,0,1,1.436.372,6.166,6.166,0,0,1,.957.9,2.187,2.187,0,0,1,.452,1.7,10.521,10.521,0,0,1-.479,2.313c-.04.106-.04.253-.106.332a5.093,5.093,0,0,1-2.074,1.675c-.292.093-.572.2-.864.292C43.109,17.718,42.883,17.758,42.63,17.824Zm3.1-5.011c.04-.851-.891-1.941-1.608-1.728a3.872,3.872,0,0,0-2.02,1.183,22.52,22.52,0,0,0-1.489,2.5.645.645,0,0,0-.066.718c.173.279.439.213.691.146a2.492,2.492,0,0,1,2.007.292.8.8,0,0,0,.984.066,3.754,3.754,0,0,0,1-1.05A5.262,5.262,0,0,0,45.727,12.813Z" transform="translate(11.583 0.011)" fill="#102ad6"></path> <path id="Path_115" data-name="Path 115" d="M12.689,1.9a8.9,8.9,0,0,1-.678,2.977,1.348,1.348,0,0,0-.133.319,17.305,17.305,0,0,1-1.3,3.589A27.242,27.242,0,0,0,9.02,12.8a3.139,3.139,0,0,1-.558,1.037c-.08.12-.186.226-.346.093-.186-.16-.306-.04-.372.12-.066.186-.027.346.2.359.292.013.279.2.226.385-.08.319-.093.758-.372.97-.385.306-.292.611-.319,1.17a6.418,6.418,0,0,1,.066.944A8.073,8.073,0,0,1,7,19.111c-.253.492-.332,1-.8,1.343-.611.452-.585,1.13-.917,1.808a1.01,1.01,0,0,1-.372.412.559.559,0,0,1-.651.013.454.454,0,0,1-.146-.572,19.249,19.249,0,0,1,.864-2.193,33.288,33.288,0,0,0,2.087-5.091,1.394,1.394,0,0,0-.4-1.529,3.4,3.4,0,0,1-.8-1.289c-.572-1.5-1.2-2.977-1.768-4.466a9.155,9.155,0,0,0-.691-1.515,9.28,9.28,0,0,1-.824-2.22c-.106-.319.093-.585.452-.758.306-.146.492.04.651.226a2.967,2.967,0,0,1,.545,1.13A23.773,23.773,0,0,0,6.176,8.876a5.674,5.674,0,0,1,.479,1.3,4.834,4.834,0,0,0,.691,1.356c.279.465.638.425.877-.066a1.866,1.866,0,0,0,.173-.452A28.552,28.552,0,0,1,9.8,7.241a16.9,16.9,0,0,0,1.09-4.187A8.654,8.654,0,0,0,11.2,1.207a.457.457,0,0,1,.412-.492.76.76,0,0,1,.771.213A1.278,1.278,0,0,1,12.689,1.9Zm-3.11,8.494c.066-.027.12-.08.093-.16a.183.183,0,0,0-.106-.066c-.066.027-.12.08-.093.16C9.486,10.352,9.539,10.365,9.579,10.391ZM4.488,7.1c.027-.027.08-.04.08-.066.027-.066,0-.133-.08-.133-.013-.013-.066.027-.08.053C4.382,7.015,4.408,7.068,4.488,7.1Z" fill="#102ad6"></path> <path id="Path_116" data-name="Path 116" d="M11.9,18.273a8.782,8.782,0,0,1-2.565-.651.531.531,0,0,1-.266-.213,3.544,3.544,0,0,1-.492-3.323A37.42,37.42,0,0,1,10.49,10.3c.106-.213.239-.439.479-.479a7.647,7.647,0,0,0,2.22-1.143,4.723,4.723,0,0,1,1.9-.625,1.761,1.761,0,0,1,1.768.984,2.663,2.663,0,0,0,.518.638,4.48,4.48,0,0,1,1.05,1.861,1.078,1.078,0,0,1-.027.545c-.053.279-.12.545-.146.824a2.649,2.649,0,0,1-1.063,2.02.818.818,0,0,0-.213.266,5.791,5.791,0,0,1-1.13,1.409,3.627,3.627,0,0,1-2.074,1.17,5.863,5.863,0,0,0-.984.359A2.972,2.972,0,0,1,11.9,18.273Zm5.662-6.021a1.3,1.3,0,0,0-.319-1.063,2.744,2.744,0,0,1-.332-.532,1.471,1.471,0,0,0-1.728-.851,7.015,7.015,0,0,1-.877.213.649.649,0,0,0-.638.691,2.082,2.082,0,0,1-.346.97c-.279.479-.319.505-.8.279A.492.492,0,0,0,12,11.92a5.708,5.708,0,0,0-1.7,1.635,5.526,5.526,0,0,0-.585,1.728,1.392,1.392,0,0,0,.678,1.489,2.645,2.645,0,0,0,1.622.306,7.654,7.654,0,0,0,3.576-1.6,8.561,8.561,0,0,0,1.422-1.688A2.628,2.628,0,0,0,17.561,12.252Z" transform="translate(1.907 2.419)" fill="#102ad6"></path> <path id="Path_117" data-name="Path 117" d="M16.574,14.879a10.907,10.907,0,0,1,1.023-3.3c.439-.651.9-1.289,1.289-1.994a2.488,2.488,0,0,1,.532-.651.521.521,0,0,1,.651-.066A.457.457,0,0,1,20.3,9.4a2.648,2.648,0,0,0-.053.558.859.859,0,0,1-.292.665A11.864,11.864,0,0,0,17.9,14.148a1.073,1.073,0,0,0,.08.944.964.964,0,0,0,.917.492,8.346,8.346,0,0,0,3.974-1.143A1.362,1.362,0,0,0,23.5,12.5a3.555,3.555,0,0,1-.372-.824c-.146-.545,0-.891.412-1.037a1.055,1.055,0,0,1,1.236.518,2.268,2.268,0,0,1,.093.891,3.187,3.187,0,0,0,1.023,2.432,3.4,3.4,0,0,0,.9.518.645.645,0,0,0,.6-.093,1.8,1.8,0,0,1,.558-.266.7.7,0,0,1,.7.2c.16.2,0,.4-.08.585a1.162,1.162,0,0,1-.957.811.493.493,0,0,0-.2.053c-.811.452-1.356,0-1.887-.532-.253-.239-.479-.505-.731-.744-.425-.412-.678-.412-1.156-.04a.358.358,0,0,0-.106.093,4.618,4.618,0,0,1-2.326,1.3c-.04.013-.106,0-.133.027-.851.665-1.874.439-2.831.465a1.3,1.3,0,0,1-1.21-.784C16.826,15.73,16.481,15.384,16.574,14.879Z" transform="translate(4.609 2.664)" fill="#102ad6"></path> <path id="Path_118" data-name="Path 118" d="M56.26,7.6a5.6,5.6,0,0,1,1.249.106,4.406,4.406,0,0,0,.837,0c.93-.12,1.236-.851,1.5-1.555.372-.957.731-1.914,1.063-2.871.186-.518.292-1.063.452-1.6.04-.133.08-.266.133-.4a.51.51,0,0,1,.625-.332c.253.066.319.279.359.532a2.987,2.987,0,0,1-.4,1.794c-.425.93-.611,1.941-1,2.884-.2.479.12.864.665.877a6.259,6.259,0,0,0,1.861-.213A8.244,8.244,0,0,1,64.993,6.7a.458.458,0,0,1,.266.053.26.26,0,0,1,.186.266c-.013.146-.133.173-.253.186a11.931,11.931,0,0,0-1.927.332,6.518,6.518,0,0,0-2.884,1.156,1.9,1.9,0,0,0-.7.93A22.964,22.964,0,0,1,58.387,13a9.258,9.258,0,0,1-.572,1.343,1.464,1.464,0,0,0-.146.891,5.919,5.919,0,0,1-.16,1.529.978.978,0,0,1-1.4.6.321.321,0,0,1-.173-.346,1,1,0,0,1,.173-.452,5.4,5.4,0,0,0,.518-1.356A14.182,14.182,0,0,1,57.4,13.2a21.049,21.049,0,0,0,1.223-3.19c.186-.8-.239-1.276-1.05-1.17a3.989,3.989,0,0,1-1.728-.066,1.624,1.624,0,0,1-.7-.439c-.279-.266-.226-.452.146-.6A4.739,4.739,0,0,1,56.26,7.6Z" transform="translate(17.254 0.079)" fill="#102ad6"></path> <path id="Path_119" data-name="Path 119" d="M76.814,9.434l.718.558a.679.679,0,0,1,.292.851c-.106.332-.173.678-.266,1.01-.186.771-.04,1.05.718,1.329a4.966,4.966,0,0,0,1.648.253c.16,0,.346-.053.4.173.04.16-.093.239-.2.332a2.507,2.507,0,0,1-2.818.066,11.076,11.076,0,0,0-1.09-.452.813.813,0,0,0-.611-.013,10.227,10.227,0,0,1-1.555.385,3.629,3.629,0,0,1-2.127-.12,1.579,1.579,0,0,1-.758-1.6,7.381,7.381,0,0,1,.8-2.153,1.37,1.37,0,0,1,.545-.518,13.376,13.376,0,0,0,2.074-1.276,2.474,2.474,0,0,1,.824-.385.769.769,0,0,1,1.1.505c.133.346.226.7.332,1.063a3.574,3.574,0,0,1-.771-.053,1.727,1.727,0,0,0-1.156.04,1.529,1.529,0,0,1-.545.106,1.576,1.576,0,0,0-.811.346,3.018,3.018,0,0,0-1.2,1.887.952.952,0,0,0,1.223,1.249c.385-.093.731-.292,1.1-.412a2.928,2.928,0,0,0,1.887-1.781c.093-.226.186-.412.053-.651A.569.569,0,0,1,76.814,9.434Z" transform="translate(22.58 2.34)" fill="#102ad6"></path> <path id="Path_120" data-name="Path 120" d="M50.237,9.718c-.572-.066-.518-.678-.851-.93-.08-.066.053-.213.16-.266a2.2,2.2,0,0,1,1.688-.2c.412.133.532.492.611.864a1.2,1.2,0,0,1-.9,1.529,7.815,7.815,0,0,1-2.645.532,2.565,2.565,0,0,0-1.422.532.851.851,0,0,0-.439.811.838.838,0,0,0,.638.665,3.254,3.254,0,0,0,1.515.146,6.014,6.014,0,0,0,1.369-.226.287.287,0,0,1,.412.146c.093.239-.066.359-.266.412a9.768,9.768,0,0,1-2.393.678,2.075,2.075,0,0,1-2.22-2.353,5.761,5.761,0,0,1,.465-1.6.992.992,0,0,1,.8-.7c.439-.053.744-.452,1.236-.412a1.113,1.113,0,0,1,.758.226A1.167,1.167,0,0,0,50.237,9.718Z" transform="translate(14.132 2.481)" fill="#102ad6"></path> <path id="Path_121" data-name="Path 121" d="M31.314,9.938c-.385-.053-.7-.093-1.023-.133-.824-.106-1.1.08-1.289.891a22.478,22.478,0,0,0-.412,3.389,10.434,10.434,0,0,0-.226,1.715c.027.346-.452.691-.9.744a.806.806,0,0,1-.917-.452,3.46,3.46,0,0,1-.372-2.353A2.445,2.445,0,0,0,26.1,12.5c-.146-.492,0-.678.492-.638a1.113,1.113,0,0,0,1.276-.9,14.436,14.436,0,0,1,.6-1.409,2.432,2.432,0,0,1,.465-.691.694.694,0,0,1,1-.133,3.161,3.161,0,0,0,2.738.306,1.417,1.417,0,0,1,.4-.08.277.277,0,0,1,.292.253.236.236,0,0,1-.186.253A8.33,8.33,0,0,1,31.314,9.938Z" transform="translate(7.734 2.594)" fill="#102ad6"></path> <path id="Path_122" data-name="Path 122" d="M66.471,10.128a1.891,1.891,0,0,1,.266,1.13c.013.585-.013,1.17.027,1.741.066.864.718,1.17,1.422.665a10.248,10.248,0,0,0,1.436-1.3,9.671,9.671,0,0,0,1.223-1.329,11.079,11.079,0,0,0,.665-1.143,1.91,1.91,0,0,0,.173-1.156,5.566,5.566,0,0,1-.053-1.05.814.814,0,0,1,.2-.572c.16-.173.332-.346.6-.266.292.08.319.346.279.572a5.853,5.853,0,0,1-.545,2.353c-.253.425-.306.957-.572,1.409a9.235,9.235,0,0,1-.784,1.236,3.19,3.19,0,0,0-.731,1.409.69.69,0,0,1-.359.492c-.492.292-.984.611-1.5.877a2.152,2.152,0,0,1-2.605-.665.746.746,0,0,1-.146-.731,3.161,3.161,0,0,0,.133-1.449,2.829,2.829,0,0,1,.651-2.06A.826.826,0,0,1,66.471,10.128Z" transform="translate(20.693 2.018)" fill="#102ad6"></path> <path id="Path_123" data-name="Path 123" d="M53.378,14.875c-.585,0-1.156.013-1.741,0A1.538,1.538,0,0,1,50.4,13.506a.821.821,0,0,1,.984-.665c.279.066.625.12.731.452.106.292.332.306.558.279.4-.027.784-.066,1.183-.093.292-.013.558-.093.651-.412a.8.8,0,0,0-.226-.891,6.748,6.748,0,0,1-1.063-.891,7.418,7.418,0,0,1-.518-.744,1.474,1.474,0,0,1,.213-1.861A.846.846,0,0,1,54.2,8.548a7.344,7.344,0,0,1,.7.572c.239.226.226.4-.053.545a1,1,0,0,1-.4.12c-.253.04-.439.12-.479.412s-.013.545.306.7a3.359,3.359,0,0,1,.877.691c.731.718.771,1.063.4,2.074-.385,1.063-.465,1.077-1.622,1.17-.186.013-.372,0-.558,0Z" transform="translate(15.75 2.508)" fill="#102ad6"></path> <path id="Path_124" data-name="Path 124" d="M80.688,2.965a8.467,8.467,0,0,1-.4,2.353c-.372,1.369-.346,2.765-.611,4.134a22.97,22.97,0,0,0-.479,2.672,3.594,3.594,0,0,0,.346,2.286c.279.465.213.731-.08.917a.788.788,0,0,1-1-.2,1.028,1.028,0,0,1-.306-.944c.146-1.263.266-2.539.385-3.815.053-.532.239-1.063.253-1.568.027-.891.213-1.755.253-2.632a18.6,18.6,0,0,1,.226-2.432A7.519,7.519,0,0,1,79.864,2.1c.12-.279.332-.266.532-.013C80.582,2.367,80.808,2.619,80.688,2.965Z" transform="translate(24.886 0.395)" fill="#102ad6"></path> </g> </g> </symbol>
        <symbol id="question_icon" viewBox="0 0 14.625 14.625"> <g xmlns="http://www.w3.org/2000/svg" id="Icon_ionic-md-help-circle-outline" data-name="Icon ionic-md-help-circle-outline" transform="translate(-3.375 -3.375)"> <path id="Path_603" data-name="Path 603" d="M10.688,4.852A5.834,5.834,0,1,1,6.56,6.56a5.812,5.812,0,0,1,4.127-1.709m0-1.477A7.313,7.313,0,1,0,18,10.688a7.311,7.311,0,0,0-7.312-7.312Z" fill="#777"></path> <g id="Group_3598" data-name="Group 3598" transform="translate(7.762 6.293)"> <path id="Path_604" data-name="Path 604" d="M16.523,23.836H18v1.477H16.523Z" transform="translate(-14.337 -16.523)" fill="#777"></path> <path id="Path_605" data-name="Path 605" d="M15.806,15.785H14.344c0-2.355,2.194-2.187,2.194-3.649a1.469,1.469,0,0,0-1.462-1.466,1.484,1.484,0,0,0-1.463,1.459H12.15a2.925,2.925,0,0,1,5.85,0C18,13.961,15.806,14.168,15.806,15.785Z" transform="translate(-12.15 -9.211)" fill="#777"></path> </g> </g> </symbol>
        <symbol id="rx_upload_icon" viewBox="0 0 130 130">
            <g transform="translate(5 5)"><path style="fill:none;stroke:#cc0005;stroke-linecap:round;stroke-linejoin:round;stroke-width:10px" class="rx_upload_icon-1" d="M124.5,22.5V49.167A13.333,13.333,0,0,1,111.167,62.5H17.833A13.333,13.333,0,0,1,4.5,49.167V22.5" transform="translate(-4.5 57.5)"></path><path class="rx_upload_icon-1" d="M77.167,37.833,43.833,4.5,10.5,37.833" transform="translate(16.167 -4.5)" style=" fill: none; stroke: #cc0005; stroke-linecap: round; stroke-linejoin: round; stroke-width: 10px; "></path><path class="rx_upload_icon-1" d="M18,4.5v80" transform="translate(42 -4.5)" style=" fill: none; stroke: #cc0005; stroke-linecap: round; stroke-linejoin: round; stroke-width: 10px; "></path></g>
        </symbol>
        <symbol id="enter_rx_icon" viewBox="0 0 21.429 25"> <path d="M16.811,20.107l4.356-4.356a.893.893,0,0,0,0-1.263L19.9,13.225a.893.893,0,0,0-1.263,0l-4.356,4.356L9.6,12.9A5.343,5.343,0,0,0,8.928,2.25H.893A.893.893,0,0,0,0,3.143V17.428a.893.893,0,0,0,.893.893H2.679a.893.893,0,0,0,.893-.893V12.964H4.618l7.143,7.143L7.4,24.463a.893.893,0,0,0,0,1.263l1.263,1.263a.893.893,0,0,0,1.263,0l4.355-4.357,4.356,4.356a.893.893,0,0,0,1.263,0l1.263-1.263a.893.893,0,0,0,0-1.263ZM3.571,5.821H8.928a1.786,1.786,0,0,1,0,3.571H3.571Z" transform="translate(0 -2.25)" fill="#CC0005"></path> </symbol>
    </defs>
</svg>

<div id="product_pricing">
    <div class="discount wb3">
        <h3><strong>$24.89 </strong>
            <em>
                <span class="lowest_price_text">Lowest price</span>
                <span class="after_rebate_text">/box after rebate
                    <a data-fancybox="" data-src="#after_rebate_info" href="javascript:;">
                        <svg viewBox="0 0 14.625 14.625" class="icon question"><use xlink:href="#question_icon"></use></svg>
                    </a>
                </span>
            </em>
        </h3>
    </div>
    <div class="msrp">
        <h3>
            Reg: <strike>$43.64</strike>
        </h3>
    </div>
</div>
<div id="product_process_form">
<div id="prescriptionItemContainer">
    <div id="product_rebate">
        <div  class="rebate_wrapper active">
            <div class="rebate_discount ">
                <i class="fas fa-check" style=""></i>
                <i class="fas fa-plus" style="display:none;"></i>
                <span class="lead_text">YOU SAVE $75</span>
            </div>

            <div class="rebate_quantity">
                <span class="desc_text">
                    WITH <b>4</b> BOXES
                </span>
            </div>

            <div class="best_value_svg" data-prod-id="142900" id="best_value_142900">
                <svg class="icon desktop" alt="Your Best Value"><use xlink:href="#best_value"></use></svg>
                <svg class="icon mobile" alt="Your Best Value"><use xlink:href="#best_value_under"></use></svg>
            </div>
        </div>
           
    </div>

@* 
     <div class="savings-banner">
         <div>✅</div>
         <div class="save-message">YOU SAVE $75</div>
         <div class="best-value">WITH 4 BOXES</div>
     </div> *@

 @*     <div class="qty-select">
         <div>
             <label for="right-eye">Right Eye (OD) Qty</label><br>
             <select id="right-eye">
                 <option>2 BOXES</option>
                 <option>4 BOXES</option>
                 <option>6 BOXES</option>
             </select>
         </div>
         <div>
             <label for="left-eye">Left Eye (OS) Qty</label><br>
             <select id="left-eye">
                 <option>2 BOXES</option>
                 <option>4 BOXES</option>
                 <option>6 BOXES</option>
             </select>
         </div>
     </div> *@


    <div class="product_quantity">
        <div class="right_eye_qty">
            <label>Right Eye (OD) Qty</label>
            <div class="qty_wrapper">
                <select class="qty_sel right_qty_sel">
                    <option value="0">0 BOXES</option>
                    <option value="1">1 BOX</option>
                    <option value="2" selected="">2 BOXES</option>
                    <option value="3">3 BOXES</option>
                    <option value="4">4 BOXES</option>
                </select>
            </div>
        </div>
        <div class="left_eye_qty">
            <label>Left Eye (OS) Qty</label>
            <div class="qty_wrapper">
                <select class="qty_sel left_qty_sel">
                    <option value="0">0 BOXES</option>
                    <option value="1">1 BOX</option>
                    <option value="2" selected="">2 BOXES</option>
                    <option value="3">3 BOXES</option>
                    <option value="4">4 BOXES</option>
                </select>
            </div>
        </div>
    </div>

    <a id="" class="continue-btn" onclick="showPrescription()">Continue</a>

        <div id="insurance_info">
            Use your FSA or HSA. <a href="javascript:void(0);" onclick="openModal()">Learn More</a>
        </div>
</div>
<div class="cstfileupload-tab-container" id="cstfileupload-tab" style="display:none;">
    <div class="tabs">
        <a class="tab active" onclick="toggleSection('prescription')">
            <svg class="icon" alt="Enter Your Prescription"><use xlink:href="#enter_rx_icon"></use></svg>
            Enter Your Prescription
        </a>
        <a class="tab" onclick="toggleSection('upload')">
                <svg class="icon" alt="Upload Your Prescription"><use xlink:href="#rx_upload_icon"></use></svg>
            Upload Your Prescription
        </a>
     </div>
</div>
<div class="conatiner-2" id="prescriptionContainer" style="display:none;">
   
    <div class="prescriptionContainer-wrap">
    <div class="checkbox">
        <label><input type="checkbox"> Same prescription for both eyes</label>
    </div>

            <div id="form" class="rx_form">
                <div class="right_eye column">
                    <div class="col_heading">Right Eye (OD)</div>
                    <div class="col_inputs">
                        <div class="input">
                            <select tabindex="-1" name="base_curve_right" id="base_curve_right" class="right" style="display: none;" data-type="Base Curve">
                                <option selected="" value="1366">8.6</option>
                            </select>
                            <div id="single_base_curve_right" class="single_variation" style="">
                                <span class="abbr">Base Curve</span>
                                <span class="value">8.6</span>
                            </div>
                        </div>
                        <div class="input">
                            <select tabindex="-1" name="diameter_right" id="diameter_right" class="right" style="display: none;" data-type="Diameter">
                                <option selected="" value="1382">14.0</option>
                            </select>
                            <div id="single_diameter_right" class="single_variation" style="">
                                <span class="abbr">Diameter</span>
                                <span class="value">14.0</span>
                            </div>
                        </div>
                        <div class="input">
                            <select tabindex="3" name="power_right" id="power_right" class="right" data-type="Power">
                                <option selected="" value="default">Power</option>
                                <option value="1423"> -12.00</option>
                                <option value="1425"> -11.50</option>
                                <option value="1427"> -11.00</option>
                                <option value="1429"> -10.50</option>
                                <option value="1431"> -10.00</option>
                            </select>
                        </div>
                        <input type="hidden" name="rightdirection_variation" id="rightdirection_variation" class="right" value="1869">
                    </div>
                </div>
                <div class="left_eye column">
                    <div class="col_heading">Left Eye (OS)</div>
                    <div class="col_inputs">
                        <div class="input">
                            <select tabindex="-1" name="base_curve_left" id="base_curve_left" class="left" style="display: none;" data-type="Base Curve">
                                <option selected="" value="1366">8.6</option>
                            </select>
                            <div id="single_base_curve_left" class="single_variation" style="">
                                <span class="abbr">Base Curve</span>
                                <span class="value">8.6</span>
                            </div>
                        </div>
                        <div class="input">
                            <select tabindex="-1" name="diameter_left" id="diameter_left" class="left" style="display: none;" data-type="Diameter">
                                <option selected="" value="1382">14.0</option>
                            </select>
                            <div id="single_diameter_left" class="single_variation" style="">
                                <span class="abbr">Diameter</span>
                                <span class="value">14.0</span>
                            </div>
                        </div>
                        <div class="input">
                            <select tabindex="6" name="power_left" id="power_left" class="left" data-type="Power">
                                <option selected="" value="default">Power</option>
                                <option value="1423"> -12.00</option>
                                <option value="1425"> -11.50</option>
                                <option value="1427"> -11.00</option>
                                <option value="1429"> -10.50</option>
                            </select>
                        </div>
                        <input type="hidden" name="leftdirection_variation" id="leftdirection_variation" class="left" value="1868">
                    </div>
                </div>
            </div>

    <!-- Patient Info -->
   <div id="patient_info">
        <div class="wrapper">
            <label>Patient Name</label>
            <input type="text" id="patient_name" size="30" maxlength="50" placeholder="First Name Last Name">
        </div>
        <div id="patient_name_error" class="error_display hide">
                <span></span>
            </div>
        <div class="wrapper">
            <label>Patient Date of Birth</label>
            <input type="text" id="patient_dob" inputmode="numeric" size="30" maxlength="10" placeholder="MM/DD/YYYY">
		</div>
        <div id="patient_dob_error" class="error_display hide">
            <span></span>
        </div>
	</div>

    <!-- Continue Button -->
    <button class="continue-btn">Continue</button>
    </div>
    <a class="btn large back ghost" onclick="GoBack()" title="Go Back">Go Back</a>
</div>

<div class="cstfileupload-upload-container" id="upload-section" style="display:none;">
    <div class="prescriptionContainer-wrap">
        <div class="upload_button">
            <label for="file">
                <svg class="icon" alt="Upload Your Prescription"><use xlink:href="#rx_upload_icon"></use></svg>
            </label>

            <div class="upload_text">
                <span>
                    Upload a photo or PDF of your prescription<span>
                    </span>
                </span>
            </div>

            <input type="file" name="file" id="file" style="display: none">
                <a class="continue-btn" href="javascript:void(0);" title="Upload Rx">Upload Rx</a>
        </div>
    </div>
        <a class="btn large back ghost" onclick="GoBack()" title="Go Back">Go Back</a>
</div>
 
</div>
<script>

    function showPrescription() {
        document.getElementById("prescriptionContainer").style.display = "block";
        document.getElementById("prescriptionItemContainer").style.display = "none";
        document.getElementById("cstfileupload-tab").style.display = "block";
       
    }
    function GoBack() {
        document.getElementById("prescriptionContainer").style.display = "none";
        document.getElementById("prescriptionItemContainer").style.display = "Block";
    }
</script>



    <div id="cstCartModal" class="cst-cart-modal">
        <div class="cst-cart-modal-content">
            <span class="cst-cart-close-btn" onclick="closeModal()">
            <svg xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 24 24">
                <path d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"></path>
            </svg>
            </span>
            <h2>What is a Flexible Spending Account?</h2>
            <p>A Flexible Spending Account is a fund which allows you to pay for eligible medical expenses with pre-tax money. Doctor office co-pays, bandages, contact lenses, contact lens solution, etc. are eligible expenses. Many employers include the option of a Flexible Spending Account with their benefit package.</p>

            <h2>Use it or lose it!</h2>
            <p>Flexible Spending money must be used by a specific date set by your provider. If the funds are not used by this specified date, all remaining money is lost.</p>

        <p> <strong>Here are some tips to make sure this doesn't happen to you:</strong></p>
            <ul>
                <li>Talk to your company or provider about enrollment and expiration dates.</li>
                <li>Track your exact balance throughout the year.</li>
                <li>Don't wait until the last minute. Last-minute purchases run the risk that they will not be eligible for reimbursement.</li>
            </ul>
        </div>
    </div>

    <script>
        function openModal() {
            document.getElementById("cstCartModal").style.display = "block";
        }

        function closeModal() {
            document.getElementById("cstCartModal").style.display = "none";
        }

        window.onclick = function(event) {
            var modal = document.getElementById("cstCartModal");
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }



    function toggleSection(section) {
       


        // Show the selected section
        if (section === "prescription") {
            document.getElementById("prescriptionContainer").style.display = "block";
            document.getElementById("upload-section").style.display = "none";


        } else if (section === "upload") {
            document.getElementById("prescriptionContainer").style.display = "none";
            document.getElementById("upload-section").style.display = "block";
        }
    }
    </script>


